{{#if showUi}}<link rel="stylesheet" href="/lib/qunit-1.12.0.css"/> {{/if}}
<script src="/lib/qunit-1.12.0.js"></script>
<script src="/lib/jquery-iframe.js"></script>
<script src="/dist/test.js"></script>
<script>
	QUnit.config.altertitle = {{alterTitle}};
	QUnit.config.reorder = {{reorder}}; // is always false
	//QUnit.config.autostart = false;
</script>

{{#if showUi}}<div id="qunit"></div>{{/if}}
<div id="qunit-fixture"></div>
