<h1 class="title">Responsibly</h1>

<h2 class="title">Grid Definitions</h2>
<table>
	<tbody>
	<tr>
		<th>type</th>
		<td>fluid</td>
	</tr>
	<tr>
		<th>max. content width</th>
		<td>960px</td>
	</tr>
	<tr>
		<th>gutter</th>
		<td>20px as percentage of max. content width (2.083%)</td>
	</tr>
	<tr>
		<th>Columns</th>
		<td>12</td>
	</tr>
	</tbody>
</table>

<h2 class="title">Basic Fluid Grid</h2>

<div class="row">
	<div class="col col-span-1">1</div>
	<div class="col col-span-1">1</div>
	<div class="col col-span-1">1</div>
	<div class="col col-span-1">1</div>
	<div class="col col-span-1">1</div>
	<div class="col col-span-1">1</div>
	<div class="col col-span-1">1</div>
	<div class="col col-span-1">1</div>
	<div class="col col-span-1">1</div>
	<div class="col col-span-1">1</div>
	<div class="col col-span-1">1</div>
	<div class="col col-span-1">1</div>
</div>
<div class="row">
	<div class="col col-span-2">2</div>
	<div class="col col-span-2">2</div>
	<div class="col col-span-2">2</div>
	<div class="col col-span-2">2</div>
	<div class="col col-span-2">2</div>
	<div class="col col-span-2">2</div>
</div>
<div class="row">
	<div class="col col-span-3">3</div>
	<div class="col col-span-3">3</div>
	<div class="col col-span-3">3</div>
	<div class="col col-span-3">3</div>
</div>
<div class="row">
	<div class="col col-span-4">4</div>
	<div class="col col-span-4">4</div>
	<div class="col col-span-4">4</div>
</div>
<div class="row">
	<div class="col col-span-6">6</div>
	<div class="col col-span-6">6</div>
</div>
<div class="row">
	<div class="col col-span-3">3</div>
	<div class="col col-span-5">5</div>
	<div class="col col-span-4">4</div>
</div>
<h2 class="title">Grid Offsets</h2>

<div class="row">
	<div class="col col-span-1 offset-11">1</div>
</div>
<div class="row">
	<div class="col col-span-2 offset-10">2</div>
</div>
<div class="row">
	<div class="col col-span-3 offset-9">3</div>
</div>
<div class="row">
	<div class="col col-span-4 offset-8">4</div>
</div>
<div class="row">
	<div class="col col-span-5 offset-7">5</div>
</div>
<div class="row">
	<div class="col col-span-6 offset-6">6</div>
</div>
<div class="row">
	<div class="col col-span-7 offset-5">7</div>
</div>
<div class="row">
	<div class="col col-span-8 offset-4">8</div>
</div>
<div class="row">
	<div class="col col-span-9 offset-3">9</div>
</div>
<div class="row">
	<div class="col col-span-10 offset-2">10</div>
</div>
<div class="row">
	<div class="col col-span-11 offset-1">11</div>
</div>
<div class="row">
	<div class="col col-span-12">12</div>
</div>
<div class="row">
	<div class="col col-span-4 offset-5">4 offset 5</div>
	<div class="col col-span-3">3</div>
</div>

<h2 class="title">Responsive Grid Layouts</h2>
<h4 class="title-sub">D = Desktop, T = Tablet, P = Phone</h4>
<h4 class="title-sub">Layout 1: D 33/33/33 - T 50/50 - P 100 </h4>

<div class="row layout-responsive-1">
	<div class="col">column 1</div>
	<div class="col">column 2</div>
	<div class="col">column 3</div>
	<div class="col">column 4</div>
	<div class="col">column 5</div>
	<div class="col">column 6</div>
</div>
<h4 class="title-sub">Layout 2: D 50/50 - T 100 - P 100</h4>

<div class="row layout-responsive-2">
	<div class="col">column 1</div>
	<div class="col">column 2</div>
	<div class="col">column 3</div>
	<div class="col">column 4</div>
</div>
<h4 class="title-sub">Layout 3: D 66/33 - T 66/33 - P 100</h4>

<div class="row layout-responsive-3">
	<div class="col col-1">column 1</div>
	<div class="col col-2">column 2</div>
</div>

<h4 class="title-sub">Layout 4: D 25/25/25/25 - T 50/50 - P 100</h4>

<div class="row layout-responsive-4">
	<div class="col">column 1</div>
	<div class="col">column 2</div>
	<div class="col">column 3</div>
	<div class="col">column 4</div>
</div>

<h2 class="title">Nested Grids</h2>

<h4 class="title-sub">Layout 3</h4>
<div class="row layout-responsive-3">
	<div class="col col-1">
		responsive
		<div class="row">
			<div class="col col-span-6">fluid</div>
			<div class="col col-span-6">fluid</div>
		</div>
	</div>
	<div class="col col-2">responsive</div>
</div>

<h2 class="title">Grid with empty columns</h2>

<div class="row">
	<div class="col col-span-3">column 1</div>
	<div class="col col-span-3">column 2</div>
	<div class="col col-span-3 spacer nostyle"></div>
	<div class="col col-span-3">column 4</div>
	<div class="col col-span-3 spacer nostyle"></div>
	<div class="col col-span-3">column 6</div>
</div>

<h2 class="title">Grid Column Ordering</h2>
<div class="row ordered">
	<div class="col col-span-3 push-9">
		column 1
	</div>
	<div class="col col-span-3 pull-3">
		column 2
	</div>
	<div class="col col-span-3">
		column 3
	</div>
	<div class="col col-span-3 pull-6">
		column 4
	</div>
</div>

<style>
	/**
	 * module: grid-example
	 * creator: sharte
	 */
	.title {
		margin: 20px 0;
	}
	.title-sub {
		margin: 10px 0;
	}
	.col {
		margin-bottom: 15px;
		text-align: center;
	}
	.col:hover {
		background: #888;
	}
	.col.nostyle {
		padding: 0;
		border: none;
	}
	.col.nostyle:hover {
		background: none;
	}
	table th,
	table td {
		padding: 5px 10px;
	}
	table th {
		text-align: left;
	}
</style>