<h1>Home</h1>

{{!-- Example module include
{{mod "foo" template="alternate" skins="alternate, baz" htmlClasses="test-class" connectors="stats, filter" data='{var1: 'foo'}'}}
--}}

{{mod "example"}}

{{mod "bootstrap-carousel"}}

