<div class="hd">
	<span class="wf-label">.mod-example</span>
</div>
<div class="bd">
	<span class="s-nodejs-dark"></span>
	<p>
		Example ipsum dolor sit amet, consectetur adipisicing elit. At et, eveniet fugit impedit maxime similique soluta?
		Ducimus ipsum perferendis quam quia vitae. Autem consequatur cum dolorem in labore minus voluptas!
	</p>
</div>