<div class="wf-box">
	<div class="hd">
		<span class="wf-label">.mod-example</span>
		<span class="wf-label">template: alternate</span>
	</div>
	<p>
		This an alternate <i>template</i> for the example module. It uses the same logic and styles as the default template.
		Calling a module with a specific template looks like this:
	</p>
	<code>\{{mod "example" template="alternate"}}</code>

	<p>
		You could also choose to extend its logic or styling with a <i>skin</i>.
	</p>
	<code>\{{mod "example" skins="alternate"}}</code>
</div>