<div class="wf-box">
	<span class="wf-label">example</span>
	<p class="icon">
		This box is a frontend <i>module</i>, it can be called like an include when rendering the templates on the server.
		It can be called many times. But a module is much much more than that. Each module can have its own logic.
		The JS logic can act as a <i>controller</i>, with the markup is its <i>view</i>. The module usually
		also has styling associated with it. The logic and the styling only operate in the context of the module:
		modules are <i>encapsulated</i>. A module can have more resources, like alternate templates, skins, sprites and
		tests. All these resources are neatly bundled in a folder.
	</p>
	<p class="exmpl">
		And this is how you call a module: <code>\{{mod "example"}}</code>
	</p>
</div>