<span class="wf-label">example</span>
<div class="hd">
	<h2 class="vis-hidden">A complete module example</h2>
</div>
<span class="s-nodejs-dark"></span>
<div class="bd">
	<p class="wf-text">
		▆▆▆▆ ▆▆▆▆▆▆▆ ▆ ▆▆ ▆▆▆▆▆ ▆▆▆▆▆ ▆▆▆▆▆▆▆▆ ▆▆▆ ▆▆▆ ▆▆▆▆▆▆ ▆ ▆▆▆▆ ▆▆ ▆▆▆▆▆▆ ▆▆▆▆ ▆ ▆▆▆▆ ▆▆▆ ▆▆▆ ▆▆▆ ▆ ▆▆▆▆
		▆▆▆▆ ▆ ▆▆▆▆ ▆▆▆ ▆▆▆ ▆▆▆ ▆ ▆▆▆▆▆ ▆▆▆▆▆▆▆▆▆ ▆▆▆ ▆▆▆ ▆▆▆▆▆▆▆▆ ▆ ▆▆▆▆▆ ▆▆ ▆▆▆▆▆ ▆▆▆▆▆ ▆▆▆▆▆▆▆▆▆▆▆ ▆▆▆ ▆
	</p>
</div>