<span class="wf-label">example</span>
<div class="hd">
	<h2 class="vis-hidden">A complete module example</h2>
</div>
<div class="bd">
	<span class="s-nodejs-dark"></span>
	<p>
		Example ipsum dolor sit amet, consectetur adipisicing elit. At et, eveniet fugit impedit maxime similique soluta?
		Ducimus ipsum perferendis quam quia vitae. Autem consequatur cum dolorem in labore minus voluptas!
	</p>
</div>