<div class="bd">
	<span class="wf-label">.mod-nav-main</span>
	<small>This module is included in the default.hbs layout. All routes/views using this layout render this navigation.</small>

	<h2 class="vis-hidden">Main navigation</h2>
	<ul>
		<li><a class="link-home" href="/">Home</a></li>
		<li><a href="/subpage">Sub-Page</a></li>
		<li><a href="/subpage-alternate">Alternate Layout</a></li>
		<li><a href="/_home">Project Overview</a></li>
		<li><a href="/grid">CSS Grid</a></li>
		<li><a href="/derp">404</a></li>
	</ul>
</div>