<span class="wf-label">.mod-nav-main</span>
<h2 class="vis-hidden">Main navigation</h2>
<small>This module is included in the default template. All routes/views using this template render this navigation.</small>
<ul>
	<li><a class="link-home" href="/">Home</a></li>
	<li><a href="/subpage">Sub-Page</a></li>
	<li><a href="/subpage-alternate">Alternate Template</a></li>
	<li><a href="/_home">Project Overview</a></li>
	<li><a href="/404">404</a></li>
</ul>