// ASSET PATHS
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

//@static-prefix: is defined in Gruntfile.js and injected into Less
@path-fonts         : '@{static-base}/fonts';
@path-img           : '@{static-base}/img';

// COLORS
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@colorBgBody        : #e4e4e4;
@colorCopy          : #444;
@colorLink          : teal;

// LAYOUT
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@maxContentWidth: 940px;
@gridCols: 12;
@gutterWidth: 20px;

// ? BREAKPOINTS and MEDIAQUERIES
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
 // can we move some stuff to layout? automate creation of some things?
// todo

// FOO
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////