#layout {
	// fallback values if mixins get called without params
	@min-width-default: 0;
	@max-width-default: 940px;

	.content-boundaries(@min-width: @default-min-width, @max-width: @default-max-width) {
		min-width: @min-width;
		max-width: @max-width;
	}

	.center() {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}