#layout {
	// fallback values if mixins get called without params
	@default-min-width: 0;
	@default-max-width: 940px;
	@default-color-bg: #ddd;

	#page {
		.style(@color: @default-color-bg) {
			background-color: @color;
		}

		.content-boundaries(@min-width: @default-min-width, @max-width: @default-max-width) {
			min-width: @min-width;
			max-width: @max-width;
		}
	}

	.center(@parent, @child) {
		/**
		 * make both elements block
		 * parent: so it takes the whole width of its container
		 * child: so you can use left/right margin auto to center it
		 **/
		@{parent} {
			display: block;
		}
		@{child} {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}
}